
<% if current_user.present? %>

<header class="container flex items-center justify-between h-16 px-4 mx-auto rounded bg-gray-50">
  <%= link_to "不穩定商店", "/" %>
  <div class="items-center hidden space-x-8 lg:flex">
    <div class="space-x-4">
      <%= link_to "購物車", cart_path %>
      <%= link_to "查訂單", orders_path %>
    </div>
    <%= button_to "登出", destroy_user_session_path, method: :delete, class: "px-4 py-2 rounded-md bg-violet-600 text-gray-50" %>

  </div>
  <button class="flex items-center justify-center p-2 lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-900">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</header>

<% else %>

<header class="container flex items-center justify-between h-16 px-4 mx-auto rounded bg-gray-50">
  <%= link_to "不穩定商店", "/" %>
  <div class="items-center hidden space-x-8 lg:flex">
    <%= button_to "登入", new_user_session_path, method: :get, class: "px-4 py-2 rounded-md bg-violet-600 text-gray-50" %>
  </div>
  <button class="flex items-center justify-center p-2 lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-900">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</header>

<% end %>
